/* authors: Tristan Trouwen, Rink Pieters, Fabienne vd Weide, Akam Bilbas */


.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    padding: 1em;
    width: 20em;
    background: #D6FFF6;
    color: #25274d;
}

#canvas {
    display: grid;
}

#canvas1 {
    display: grid;
}

#defaultCanvas0, #defaultCanvas1 {
    grid-column: 1;
    grid-row: 1;
}

/* color scheme */

.jumbotron {
    color: #25274D;
    background-color: #4DCCBD;
}

.display-3, .display-4 {
    color: #D6FFF6;
}

.top-spacing-sm {
  margin-top:20px;
}


body, main {
    color: #25274D;
    background-color: #D6FFF6;
}

div .loading-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: url(/static/styles/loading.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.navbar-dark {
    border-bottom: 2px solid #D6FFF6;
    background-color: #25274D !important;
}

.form-text {
  padding-left: 3px;
}

.btn-primary {
    background-color: #2E9CCA;
    border-color: #25274D;
}

.btn-primary:hover {
    background-color: #54AED3;
}

.btn-secondary {
    background-color: #25274D;
    border-color: #25274D;
}

.btn-secondary:hover {
    background-color: #4C4E6D;
}

a {
    color: #2E9CCA;
}

/* because Flask default message category is message, we need a alert-message */
.alert-message {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* page height 100% */
html, body {
    height: calc(97% - 20px);
}

main {
    min-height: 100%;
}

footer {
    padding-top: 2%;
    padding-bottom: 1%;
}

footer > p {
    margin-bottom: 0px;
    font-style: italic;

}

/* demo images */
.row-demoimages > div > p > img { /*als je nagedacht had, had je die p of die img een class gegeven*/
  width: 100%;
}

.overflow-scroll {
    overflow-y: scroll;
    max-height: 100vh;
}
