/* authors: Tristan Trouwen, Rink Pieters, Fabienne vd Weide */


.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    padding: 1em;
    width: 20em;
    background: #E9ECEF;
    color: #212529;
}

#canvas {
    display: grid;
}

#defaultCanvas0, #defaultCanvas1 {
    grid-column: 1;
    grid-row: 1;
}

/* color scheme */

.jumbotron {
    color: #25274D;
    background-color: #4DCCBD;
}

.display-3, .display-4 {
    color: #D6FFF6;
}


body, main {
    color: #25274D;
    background-color: #D6FFF6;
}

.navbar-dark {
    border-bottom: 2px solid #D6FFF6;
    background-color: #25274D !important;
}

.btn-primary {
    background-color: #2E9CCA;
    border-color: #25274D;
}

.btn-primary:hover {
    background-color: #54AED3;
}

.btn-secondary {
    background-color: #25274D;
    border-color: #25274D;
}

.btn-secondary:hover {
    background-color: #4C4E6D;
}

a {
    color: #2E9CCA;
}

/* page height 100% */
html, body {
    height: 100%;
}

main {
    min-height: 100%;
}

footer {
    padding-top: 2%;
    padding-bottom: 1%;
}

footer > p {
    margin-bottom: 0px;
}
