/* authors: Tristan Trouwen */


.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    padding: 1em;
    width: 20em;
    background: #E9ECEF;
    color: #212529;
}

#canvas {
    display: grid;
}

#defaultCanvas0, #defaultCanvas1 {
    grid-column: 1;
    grid-row: 1;
}