/* authors: Tristan Trouwen, Rink Pieters, Fabienne vd Weide */


.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    padding: 1em;
    width: 20em;
    background: #E9ECEF;
    color: #212529;
}

#canvas {
    display: grid;
}

#defaultCanvas0, #defaultCanvas1 {
    grid-column: 1;
    grid-row: 1;
}

.jumbotron {
    color: #AAABB8;
    background-color: #25274D;
}

main {
    color: #AAABB8;
    background-color: #464866;
}
