{% extends "layout.html" %}

{% block title %}
  Titel
{% endblock %}

{% block title_text %}
  TESTING
{% endblock %}

{% block content %}
    <!-- AUTHORS
    Tristan Trouwen, Johannes Kool, Rick Luiken, Rink Pieters, Fabienne vd Weide
    -->

    <div class="col-md-6">
      <h2>Upload new File</h2>
      <form method=post enctype=multipart/form-data>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">File:</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="file" name="file" aria-describedby="inputGroupFileAddon01" accept="{{ '.' + ', .'.join(app.config['ALLOWED_EXTENSIONS']) }}">
            <label class="custom-file-label" for="file">Choose file</label>
          </div>
        </div>
        <br>
        <input type=submit value=Upload class="btn btn-secondary">
      </form>
    </div>
    <div class="col-md-6">
      <h2>or open an existing file:</h2>
      <form method=get enctype=multipart/form-data>
        <div class="input-group">
          <select class="custom-select" id="data" name="data">
            {% for file in files_available %}
              <option value="{{ file["filename"] }}">{{ file["filename"] }}</option>
            {% endfor %}
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Load</button>
          </div>
        </div>
      </form>
    </div>
      {% if data %}
      <div class="col-md-12">
        <h3>{{ data }}</h3>
        <div id="canvas" class="pixelated" style="overflow:hidden;">

        </div>
    </div>
    {% endif %}

{% endblock %}
