<!DOCTYPE html>
<html lang="">

<!-- AUTHORS
Tristan Trouwen, Rick Luiken, Rink Pieters, Fabienne vd Weide
-->

<head>
    <meta charset="utf-8">
    <meta name="description" content="Visualization of datasets">

    {% if title %}
        <title>{{ title }} | CERES 29</title>
    {% else %}
        <title>CERES 29</title>
    {% endif %}

    <!-- including css stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content/jumbotron.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content/stylesheet.css') }}">

    <!-- including javascript scripts -->
    <script src="{{ url_for('static', filename='scripts/jquery-3.4.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>

    {% if request.path != "/" %}
    <script src="{{ url_for('static', filename='p5/p5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='p5/addons/p5.dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='p5/addons/p5.sound.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/LoadingAnimation.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/general.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/VisualizationClass.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/VisualizationHandler.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/MatrixVisualization.js') }}"></script>
    {% else %}
    <link rel="preload" href="{{ url_for('static', filename='p5/p5.min.js') }}" as="script">
    <link rel="preload" href="{{ url_for('static', filename='p5/addons/p5.dom.min.js') }}" as="script">
    <link rel="preload" href="{{ url_for('static', filename='p5/addons/p5.sound.min.js') }}" as="script">
    <link rel="preload" href="{{ url_for('static', filename='scripts/LoadingAnimation.js') }}" as="script">
    <link rel="preload" href="{{ url_for('static', filename='scripts/main.js') }}" as="script">
    <link rel="preload" href="{{ url_for('static', filename='scripts/general.js') }}" as="script">
    <link rel="preload" href="{{ url_for('static', filename='scripts/VisualizationClass.js') }}" as="script">
    <link rel="preload" href="{{ url_for('static', filename='scripts/VisualizationHandler.js') }}" as="script">
    <link rel="preload" href="{{ url_for('static', filename='scripts/MatrixVisualization.js') }}" as="script">
    {% endif %}
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        {% if request.path == "/" %}
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        {% endif %}

        {% if request.path == "/upload" %}
        <li class="nav-item active">
          <a class="nav-link" href="/upload">Choose a file <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/upload">Choose a file</a>
        </li>
        {% endif %}

        {% if request.path == "/vis" %}
        <li class="nav-item active">
          <a class="nav-link" href="/vis">Visualization <span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" disabled type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <main role="main">

    {% if request.path != "/vis" %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">{% block title %}{% endblock %}</h1>
        <p>{% block title_text %}{% endblock %}</p>
      </div>
    </div>
    {% endif %}

    <div class="container-fluid">
      <div class="row">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
      </div>
      <div class="row">
        {% block content %}{% endblock %}
      </div>
    </div>
    <footer class="container">
      <p>&copy; Ceres 29 </p>
    </footer>
  </main>

</body>
</html>
