<!DOCTYPE html>
<html lang="">

<!-- AUTHORS
Tristan Trouwen, Rick Luiken, Rink Pieters, Fabienne vd Weide
-->

<head>
    <meta charset="utf-8">
    <meta name="description" content="Visualisation of datasets">

    {% if title %}
        <title>{{ title }} | {{ config['APP_TITLE'] }}</title>
    {% else %}
        <title>{{ config['APP_TITLE'] }}</title>
    {% endif %}

    <!-- including css stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/jumbotron.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stylesheet.css') }}">

    <!-- favicon (good browsers only) -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='styles/favicon.ico') }}">

    <!-- including javascript scripts -->
    <script src="{{ url_for('static', filename='scripts/jquery-3.4.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/general.js') }}"></script>

    <link rel="prefetch" href="{{ url_for('static', filename='scripts/VisualizationHandler.js') }}" as="script">
    <link rel="prefetch" href="{{ url_for('static', filename='p5/p5.min.js') }}" as="script">
    <link rel="prefetch" href="{{ url_for('static', filename='p5/addons/p5.dom.min.js') }}" as="script">
    <link rel="prefetch" href="{{ url_for('static', filename='Sigma/sigma.min.js') }}" as="script">
    <link rel="prefetch" href="{{ url_for('static', filename='Sigma/sigma.settings.js') }}" as="script">
    <link rel="prefetch" href="{{ url_for('static', filename='Sigma/plugins/sigma.layout.forceAtlas2.min.js') }}" as="script">
    <link rel="prefetch" href="{{ url_for('static', filename='Sigma/plugins/sigma.plugins.filter.min.js') }}" as="script">
    <link rel="prefetch" href="{{ url_for('static', filename='Sigma/sigma.plugins.animate.js') }}" as="script">
    <link rel="prefetch" href="{{ url_for('static', filename='Sigma/plugins/sigma.plugins.relativeSize.min.js') }}" as="script">
    <link rel="prefetch" href="{{ url_for('static', filename='Sigma/renderers/webgl/sigma.webgl.edges.arrow.js') }}" as="script">
    <link rel="prefetch" href="{{ url_for('static', filename='Sigma/plugins/sigma.plugins.dragNodes.min.js') }}" as="script">
    <link rel="prefetch" href="{{ url_for('static', filename='scripts/LoadingAnimation.js') }}" as="script">
    <link rel="prefetch" href="{{ url_for('static', filename='scripts/main.js') }}" as="script">
    <link rel="prefetch" href="{{ url_for('static', filename='scripts/VisualizationClass.js') }}" as="script">
    <link rel="prefetch" href="{{ url_for('static', filename='scripts/MatrixVisualization.js') }}" as="script">
    <link rel="prefetch" href="{{ url_for('static', filename='scripts/ForceLinkDiagramVisClass.js') }}" as="script">
    <link rel="prefetch" href="{{ url_for('static', filename='scripts/RoundNodeLink.js') }}" as="script">
    <link rel="prefetch" href="{{ url_for('static', filename='scripts/TreeNodeLink.js') }}" as="script">
    
    {% block scripts %}
    {% endblock %}

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">{{ config['APP_AUTHOR'] }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% if request.endpoint == 'index' %}
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            {% endif %}

            {% if request.endpoint == 'upload' %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('upload') }}">Choose a file <span
                            class="sr-only">(current)</span></a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('upload') }}">Choose a file</a>
                </li>
            {% endif %}

            {% if request.endpoint == 'vis' %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('vis', data_id=data_id) }}">Visualisation <span
                            class="sr-only">(current)</span></a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<main role="main">
    {% block header %}
    {% endblock %}


    <div class="container">
        <div class="row">
            <div id='divErrorMessages' class="col-md-12">
                {% with messages = get_flashed_messages(with_categories=true, category_filter=['info', 'success', 'warning', 'danger', 'message']) %}
                    {% if messages %}
                        {% for category, message in messages %}
                          <div class="alert alert-{{ category }} alert-dismissable fade show">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                          </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
</main>
<footer class="container">
    <p>&copy; {{ config['APP_AUTHOR'] }} - {{ config['APP_TITLE'] + " " + config['APP_VERSION'] }}</p>
</footer>

</body>
</html>
