{% extends "layout.html" %}

{% block title %}
  {{ config['APP_TITLE'] }}
{% endblock %}

{% block title_text %}
  TU/e DBL Project HTI + Webtech by {{ config['APP_AUTHOR'] }}.
  <br>
  This tool provides an adjacency matrix and three different types of node-link diagrams.
  <br>
  Upload your own files to analyze your network data!
{% endblock %}

{% block content %}
    <!-- AUTHORS
    Tristan Trouwen, Johannes Kool, Rick Luiken, Rink Pieters, Fabienne vd Weide
    -->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Upload new file</h2>
          <p>Choose a file using "Browse" and click on "Upload". Uploading a file may take a while depending on the speed of your network connection and the current server load. Read more about the file specifications <a href='#'>here</a>.</p>
          <form method=post enctype=multipart/form-data>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="file" name="file" aria-describedby="inputGroupFileAddon01" accept="{{ '.' + ', .'.join(config['ALLOWED_EXTENSIONS']) }}">
                <label class="custom-file-label" for="file">No file selected</label>
              </div>
              <div class="input-group-append">
                <input type=submit value=Upload class="btn btn-primary">
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-6">
          <h2>or open an existing file:</h2>
          <p>Start gaining insight in datasets quickly by picking one of the {{ files_available|length }} files uploaded by users of {{ config['APP_TITLE'] }} from all over the world. Commercial use of these files is not allowed. </p>
          <form method=get enctype=multipart/form-data action="/vis">
            <div class="input-group">
              <select class="custom-select" id="data" name="data">
                <option selected value="" disabled>Choose a file</option>
                {% set loopvars = {'lastdate': ""} %}
                {% for file in files_available %}
                  {% if loopvars.lastdate != file.timestamp.strftime('%A %B %d, %Y') %}
                    {% if loopvars.update({'lastdate': file.timestamp.strftime('%A %B %d, %Y')}) %}{% endif %}
                    <option  disabled value="">{{ loopvars.lastdate }}</option>
                  {% endif %}
                  <option value="{{ file.id }}">&nbsp; &nbsp;{{ file.name + ' (' + file.timestamp.strftime('%H:%M:%S') + ')'}}</option>
                {% endfor %}
              </select>
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Load</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

{% endblock %}
