{% extends "layout.html" %}

{% block scripts %}
    <script type="text/javascript">
        var data_id = {{ data_id }};
    </script>
    <script src="{{ url_for('static', filename='scripts/VisualizationHandler.js') }}"></script>
    <script src="{{ url_for('static', filename='p5/p5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='p5/addons/p5.dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Sigma/sigma.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Sigma/sigma.settings.js') }}"></script>
    <script src="{{ url_for('static', filename='Sigma/plugins/sigma.layout.forceAtlas2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Sigma/plugins/sigma.plugins.filter.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Sigma/sigma.plugins.animate.js') }}"></script>
    <script src="{{ url_for('static', filename='Sigma/plugins/sigma.plugins.relativeSize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Sigma/renderers/webgl/sigma.webgl.edges.arrow.js') }}"></script>
    <script src="{{ url_for('static', filename='Sigma/plugins/sigma.plugins.dragNodes.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/LoadingAnimation.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/VisualizationClass.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/MatrixVisualization.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/ForceLinkDiagramVisClass.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/RoundNodeLink.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/TreeNodeLink.js') }}"></script>

{% endblock %}

{% block content %}
    <!-- AUTHORS
    Tristan Trouwen, Johannes Kool, Rick Luiken, Rink Pieters, Fabienne vd Weide, Akam Bilbas
    -->

    {% if data %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" style='height: calc(100% - 100px);'>
                    <div class="wrapper">
                        <div class="sidebar">
                            <p><b>Filename: </b><span id='matrix-visualization-fileinfo-name'>{{ data }}</span></p>
                            <p><b>Type: </b><span id='matrix-visualization-fileinfo-type'><!-- might as well just get it dynamically --></span></p>
                            <hr>
                            <div id="matrix-visualization-edge-info" style="display: none">
                                <h6>Edge information</h6>
                                <p><b>From</b>: <span id="matrix-visualization-edge-info-from">/</span></p>
                                <p><b>To</b>: <span id="matrix-visualization-edge-info-to">/</span></p>
                                <p><b>Weight</b>: <span id="matrix-visualization-edge-info-weight">/</span></p>
                            </div>
                        </div>
                        <div id="canvas" style="overflow:hidden;"></div>
                        <div id="canvas1" style="overflow:hidden;"></div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    Upload or choose a file to see a visualisation here. After choosing you will be automatically
                    redirected to this page.
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
