{% extends "layout.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename='p5/p5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='p5/addons/p5.dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/LoadingAnimation.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/VisualizationClass.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/VisualizationHandler.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/MatrixVisualization.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/RoundNodeLink.js') }}"></script>
{% endblock %}

{% block content %}
    <!-- AUTHORS
    Tristan Trouwen, Johannes Kool, Rick Luiken, Rink Pieters, Fabienne vd Weide
    -->

    {% if data %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12" style='height: calc(100% - 100px);'>
            <div class="wrapper">
                <div class="sidebar">
                    <p><b>Filename: </b>{{ data }}</p>
                    <hr>
                    <div id="matrix-visualization-edge-info" style="display: none">
                        <h6>Edge information</h6>
                        <p><b>From</b>: <span id="matrix-visualization-edge-info-from">/</span></p>
                        <p><b>To</b>: <span id="matrix-visualization-edge-info-to">/</span></p>
                        <p><b>Weight</b>: <span id="matrix-visualization-edge-info-weight">/</span></p>
                    </div>
                </div>
                <div id="canvas" style="overflow:hidden;"></div>
            </div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          Upload or choose a file to see a visualization here. After choosing you will be automatically redirected to this page.
          </div>
        </div>
      </div>
    {% endif %}

{% endblock %}
