{% extends "layout.html" %}

{% block scripts_head %}
    <script type="text/javascript">
        var data_id = {{ data_id }};
    </script>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/VisualizationHandler.js') }}"></script>
    <script src="{{ url_for('static', filename='p5/p5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='p5/addons/p5.dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Sigma/sigma.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Sigma/sigma.settings.js') }}"></script>
    <script src="{{ url_for('static', filename='Sigma/plugins/sigma.layout.forceAtlas2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Sigma/plugins/sigma.plugins.filter.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Sigma/sigma.plugins.animate.js') }}"></script>
    <script src="{{ url_for('static', filename='Sigma/plugins/sigma.plugins.relativeSize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='Sigma/renderers/webgl/sigma.webgl.edges.arrow.js') }}"></script>
    <script src="{{ url_for('static', filename='Sigma/plugins/sigma.plugins.dragNodes.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/LoadingAnimation.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/VisualizationClass.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/MatrixVisualization.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/ForceLinkDiagramVisClass.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/RoundNodeLink.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/TreeNodeLink.js') }}"></script>
    <script type="text/javascript">parentLoad();
      $(window).on('ready', function() {
          if (document.fullscreenEnabled == true) { //we can enable full screen
              document.getElementById("divViewOptions").style.display = "inherit";
              toggleFullScreen(false); //exit full screen if we have it opened somewhere
          }
      });
    </script>
{% endblock %}

{% block content %}
    <!-- AUTHORS
    Tristan Trouwen, Johannes Kool, Rick Luiken, Rink Pieters, Fabienne vd Weide, Akam Bilbas
    -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-2 accordion" id="accordionExample" style="padding-left:0;padding-right:0;">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Info
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-target="#collapseOne">
                        <div class="card-body">
                            <b>Filename: </b><span id='matrix-visualization-fileinfo-name'>{{ data }}</span><br>
                            <b>Type: </b><span id='matrix-visualization-fileinfo-type'>/<!-- might as well just get it dynamically --></span><br>

                            <b>Minimum edge weight: </b><span id="minimumEdgeWeightInfo"></span><br>
                            <b>Maximum edge weight: </b><span id="maximumEdgeWeightInfo"></span><br>
                            <h6>Edge Weight Legend</h6>
                            <span>
                                <p class="legend" id="legend0" style="display: inline-block;background-color: rgb(255, 78, 0);"> - / - </p>
                                <p class="legend" id="legend1" style="display: inline-block;background-color: rgb(255, 78, 0);"> - / - </p>
                                <p class="legend" id="legend2" style="display: inline-block;background-color: rgb(255, 78, 0);"> - / - </p>
                                <p class="legend" id="legend3" style="display: inline-block;background-color: rgb(255, 78, 0);"> - / - </p>
                                <p class="legend" id="legend4" style="display: inline-block;background-color: rgb(255, 78, 0);"> - / - </p>
                                <p>Warning: numbers not accurate waiting for 'global min/max edgeweight first</p>
                            </span><br>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Settings
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-target="#collapseTwo">
                        <div class="card-body">
                            <h6>Reorder</h6>
                            <div class="input-group">
                                <select class="custom-select disabled-when-loading" id="vis_sel_clustering" name="clustering" onchange="visReorder(this);">
                                    <option value="" disabled>Choose a ordering</option>
                                    <option value="n/a" disabled hidden>Not applicable</option>
                                    <option value="default">&nbsp;&nbsp;As uploaded</option>
                                    <option value="pagerank">&nbsp;&nbsp;Pagerank</option>
                                    <option selected value="cluster">&nbsp;&nbsp;Clustered</option>
                                    <option value="lexicographic">&nbsp;&nbsp;Lexicographic</option>
                                    <option value="cluster_graph">&nbsp;&nbsp;Cluster-graph</option>
                                    <option value="degrees">&nbsp;&nbsp;Sort on degree</option>
                                    <option value="betweenness">&nbsp;&nbsp;Betweenness</option>
                                </select>
                            </div>
                            <h6>Add visualization</h6>
                            <div class="input-group">
                                <form id="addvis" onsubmit="addVisualization(document.getElementById('selectToAdd').value, 'hey');return false">
                                    <select id="selectToAdd" required class="custom-select">
                                    <option value="" disabled>Choose a visualisation</option>
                                    <option value="matrix">&nbsp;&nbsp;Adjacency Matrix</option>
                                    <option value="forceLink">&nbsp;&nbsp;Force-directed node-link</option>
                                    <option value="roundNodeLink">&nbsp;&nbsp;Round node-link</option>
                                    <option value="treeNodeLink">&nbsp;&nbsp;Tree node-link</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">Add</button>
                                    </div>
                                </form>
                            </div>


                            <div id="divViewOptions" style="display: none;">
                                <hr>
                                <h6>View options</h6>
                                <!-- <button onclick="toggleFullScreen();" type="button" class="btn btn-dark">Toogle fullscreen</button> -->
                                <button onclick="toggleFullScreen(true);" style="display:none;" type="button" class="btn btn-dark">Fullscreen</button>
                                <button onclick="toggleFullScreen(false);" style="display:none;" type="button" class="btn btn-dark">Window mode</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Interactions
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-target="#collapseThree">
                        <div class="card-body">
                            <div id="selected-node">
                                <h6>Node info</h6>
                                <p><b>Name: </b><span id="selectedNodeName">/</span></p>
                                <p><b>Degree: </b><span id="selectedNodeDegree">/</span></p>
                            </div>

                            <div id="matrix-visualization-edge-info" style="display: none">
                                <h6>Edge information</h6>
                                <p><b>From</b>: <span id="matrix-visualization-edge-info-from">/</span></p>
                                <p><b>To</b>: <span id="matrix-visualization-edge-info-to">/</span></p>
                                <p><b>Weight</b>: <span id="matrix-visualization-edge-info-weight">/</span></p>
                            </div>
                            <h6>Filter edges on weight</h6>
                            <p>Min</p><div id="minEdgeWeightFilter"></div>
                            <p>Max</p><div id="maxEdgeWeightFilter"></div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="wrapper col-10" id="parentofcanvas" style="padding-left: 0; padding-right: 0;"></div>
        </div>
    </div>

{% endblock %}
